body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: dimgray;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  /* background: #fff; */
  background: gray;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: .5rem;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: gray;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1, h2, .logo {
  text-align: center;
}

.mugshot {
  width: 100%;
  border-radius: .5rem;
}

.mugshot:hover {
  box-sizing: border-box;
  border: 2px solid black;
}

p {
  font-size: .9rem;
}

.welcome-page {
  text-align: center;
}

.main-img {
  width: 50%;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input {
  font-size: 2rem;
  border: 3px solid black;
  border-radius: .5rem;
  color: darkkhaki;
  background: cadetblue;
  margin: 1px;
  text-shadow:  
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

button {
  font-size: 2rem;
  width: 10rem;
  color: cadetblue;
  font-weight: bold;
  background: darkkhaki;
  border: 3px solid black;
  border-radius: .5rem;
  margin: 1px;
  text-shadow:  
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

button:hover {
  color: darkkhaki;
  background: cadetblue;
}